{% assign lang = page.lang | default: 0 %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {% assign homes = site.pages | where:"ref", "home" | where: "lang", page.lang %}
        {% if homes.first.url contains 'http' %}
          {% assign home_domain = '' %}
        {% else %}
          {% assign home_domain = site.url | append: site.baseurl %}
        {% endif %}
        <a class="site-title" href="{{ home_domain }}{{ homes.first.url }}">{{ site.t[lang].title }}</a>
        <ul class="visible-links">
          {% for link in site.data.navigation.t[lang].main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = site.url | append: site.baseurl %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <button><div class="navicon"></div></button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
